html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container, .container-fluid, .row {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}